@import java.util
@(bookFrom : Form[Book],authors:List[User],tags:List[Tag])
@import scala._
@import helper._
@import views.html.partials._booksFormFields

@header = {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
}

@footer = {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//cdn.ckeditor.com/4.9.2/basic/ckeditor.js"></script>
    <script>CKEDITOR.replace( 'ckEditor' );</script>
    <script type="text/javascript">
            $("#tags-selection").select2();
    </script>
}


@layout("Create Book",header,footer){
    <h1>Create Book</h1>

    @helper.form(action = routes.BooksController.save(),'enctype -> "multipart/form-data"){

        @_booksFormFields(bookFrom,authors,null,tags,List[Tag]())

        <div class="form-group">
            <label for="pdf">Book PDF</label>
            <input type="file" name="pdf">
        </div>

        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i> Create Book</button>
    }
}